.post-table {
  animation: slide-up 1s ease;
  width: 800px;
  margin: 0 auto; }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
  .post-table thead {
    display: none; }
  .post-table tbody {
    box-shadow: 0px 0px 20px 0px #8e7676; }
  .post-table td {
    border: 3px solid #dee2e6; }
  .post-table .post-tble-author-name {
    color: #883333;
    text-decoration: underline; }
  .post-table .post-desc {
    font-size: 15px; }
  .post-table .pagination ul {
    display: flex;
    list-style: none; }
  .post-table .pagination .bootpag {
    margin: 1px auto 20px auto; }
  .post-table .icon-edit-post, .post-table .icon-delete-post {
    margin-left: auto;
    cursor: pointer; }
  .post-table .btn-show-post {
    height: 24px;
    color: #000;
    background-color: #ffffff;
    border-color: #b1b1b1;
    line-height: 2px; }

#post-add-modal label {
  font-weight: bold; }

#post-add-modal .btn {
  color: #fff;
  background-color: #054614;
  border-color: #ffffff;
  border: 0; }

#post-add-modal .modal-content {
  border-radius: 0; }

nav .login-text {
  color: #f5c004 !important; }
